THREADPINGS=1
THREADTCPINGS=1
MASSCANRATE=1000
DEBUG=1
LOG_LEVEL=5 # -1: NOTHING | 0: NORMAL | 1: Progress | 2: Errors | 3: Extra info | 4: DEBUG :skull:
IGNORE_FAKE_SERVERS=1
WHOIS_RATE_LIMIT_TIME=20

# More or less secret info 

MC_NAME=
MC_UUID=
MC_TOKEN=
SHODAN_KEY=
DISCORD_BOT_TOKEN=

# SECRET DATA dont use my token ):
